
* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
}

.active {
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
}

body {
    background-image: url('../images/kindajean.jpg');
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h3 {
    color: grey;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 20px;
}

p {
    text-align: left;
    line-height: 150%;
    font-size: 24px;
}

.main-content {
    background-color: #ffffff;
}

.navpad {
    /* set this for padding fix */
    background-color:  #4aaaa5;
}

.custom-footer {
    background-color: #666666;
    border-style: solid;
    border-color: #4aaaa5;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: 4em;
    width: 100%;
    font-size: 8px;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#nav-name {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.nav-item {
    text-align: right;
}

.top-row{
    border-top: solid 1px #666666;
    padding-top: 10px;
}

.project {
    position: relative;
    margin: 10px;
}

.caption {
    position: absolute;
    top: 85%;
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}